.search-input-mobile {
    display: none;
}
.accordion_group[data-v-49d2667a] {
    width: 58vw;
}
.wizard_content {
    margin-left: 9vw;
}
.second_bar_list.mobile {
    display: none;
}
@media (max-width: 900px) {
    .search-input-desktop {
        display: none;
    }
    .search-input-mobile {
        display: block;
    }
    .mobile-component-view {
        display: block;
    }
    .searchField {
        width: 100vw;
    }
    .search_card {
        width: 93vw;
    }
    .content_manager {
        display: block;
    }
    .wizard_content {
        display: none;
    }
    .accordion_group[data-v-49d2667a] {
        width: 94vw;
        margin-left: 1.5vw;
    }
    .second_bar_list.desktop {
        display: none;
    }
    .second_bar_list.mobile {
        display: flex;
    }
}
