.search-input-mobile {
    display: none;
}
.wizard_content {
    margin-left: 9%;
}
.second_bar_list.mobile {
    display: none;
}
.displayNoneDesktop {
    display: none !important;
}
.nationalIDCard {
    padding: 90px 0px 90px 0px;
    width: 500px;
    margin-inline: 5px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.fw-vertical .fw-body-list {
    background: #fff;
    border-radius: 8px;
    margin-left: 10px;
    padding: 20px;
    font-size: 0.875rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    height: 400px;
    line-height: 50px;
}
.form-wizard-vue .fw-body-list > li > .fw-list-wrapper {
    color: #636363;
    font-size: 16px;
    flex-direction: unset;
    gap: 20px;
}
.fw-vertical .fw-body-list li .fw-list-progress {
    width: 1.5px;
    height: 22px;
    top: 42px;
    left: 32px;
}

.fw-vertical .fw-body {
    border-radius: 5px;
    font-size: 0.875rem;
    height: 84vh;
    overflow: scroll;
}
.fw-vertical .fw-body-content {
    padding: unset;
}
.fw-vertical {
    gap: 5vw;
}
.fw-vertical .fw-body-list li {
    display: unset;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.form-wizard-vue .fw-body-list li .fw-list-wrapper-icon {
    width: 25px;
    height: 25px;
    border: 1.5px solid;
    color: #b4b4b4;
    background: unset;
}
i {
    font-style: unset;
}
.form-wizard-vue .fw-body-list li,
.form-wizard-vue .fw-body-list .fw-list-wrapper {
    flex-grow: 0.09;
}
.form-wizard-vue .fw-step-active,
.fw-footer-right .fw-btn {
    background: var(--ion-color-primary) !important;
    border: 1.5px solid var(--ion-color-primary) !important;
}
.fw-footer-left .fw-btn {
    background: #ccc !important;
}
.form-wizard-vue .fw-step-checked {
    border: 1.5px solid var(--ion-color-primary) !important;
}
.fw-vertical .fw-body-list li .fw-list-progress-active {
    background: var(--ion-color-primary);
}
.fw-vertical .fw-footer {
    bottom: 0;
    position: sticky;
    background: var(--ion-background-color, #fff);
    z-index: 3;
}
.pi {
    font-weight: 700;
    font-size: 14px;
}
@media (max-width: 1350px) {
    .wizard_content {
        margin-left: 0px !important;
    }
    .large-modal {
        --width: 60vw !important;
    }
}
@media (max-width: 991px) {
    .regDisplayFlex {
        display: flex;
        justify-content: space-between;
    }
    .displayNoneMobile {
        display: none !important;
    }
}
@media (max-width: 980px) {
    .searchField {
        width: 100vw !important;
    }
    .search-input-desktop {
        display: none !important;
    }
    .search-input-mobile {
        display: block !important;
    }
    .content_manager {
        display: block !important;
    }
}
@media (max-width: 768px) {
    .regDisplayFlex {
        display: inline;
    }
    .large-modal {
        --width: 80vw !important;
    }
    ion-popover[mobilePopover] {
        --offset-x: 47%;
        --offset-y: 62%;
    }
    .search-input-desktop {
        display: none !important;
    }

    .displayNoneDesktop {
        display: flex !important;
    }
    .search-input-mobile {
        display: block !important;
    }
    .mobile-component-view {
        display: block !important;
    }
    .searchField {
        width: 100vw !important;
    }
    /* .search_card {
        width: 93vw !important;
    } */
    .content_manager {
        display: block !important;
    }
    .wizard_content {
        display: none !important;
    }
    .accordion_group {
        top: 230px !important;
    }
    .second_bar_list.desktop {
        display: none !important;
    }
    .second_bar_list.mobile {
        display: flex !important;
    }
    .rightCol {
        top: 80px !important;
    }
    .back_profile {
        margin-left: 2vw !important;
    }
    .nationalIDCard {
        width: 100%;
    }
    .nationalIDModal {
        --width: 80vw;
    }
}
@media (max-width: 602px) {
    .login-page {
        --ion-background-color: #ffffff;
    }
    /* ion-card {
        box-shadow: unset;
    } */
    ion-popover[mobilePopover] {
        --offset-x: 35%;
    }
    .nationalIDCard {
        width: 100%;
    }
    .nationalIDModal {
        --width: 90vw;
    }
}

@media (max-width: 503px) {
    ion-popover[mobilePopover] {
        --offset-x: 18%;
    }
    .nationalIDModal {
        --width: 90vw;
    }
    .nationalIDCard {
        width: 100%;
    }
    .dp__cell_inner {
        padding-left: unset;
        padding-right: unset;
    }
    .dp__calendar_header_item {
        padding-left: unset;
        padding-right: unset;
    }
}
